*.egg-info
*.ipynb
*.log
.eggs
.env
.ipynb*
.mypy_cache
.pytest_cache
.python-version
.vscode
/tests/htmldump_en/
/tests/htmldump_pl/
/tests/htmldump_word_not_found/
build/*
diki.conf
dist/*
tags
test_log.txt
tests/cassettes
