[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"

[dev-packages]
dikicli = {editable = true,path = "."}
pytest = "*"
pytest-vcr = "*"
twine = "*"
pylint = "*"
isort = "*"
pbr = "*"
